{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/poker-chip.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="custom_body">
<div class="form-group" style="margin: 5% 30% 0 30%">
    <div id="rcorners1" style="padding: 20px">
        <h2 style="text-align: center">{{ title }}</h2>
        <form method="POST" action="">
            {% block account_form %}
            {% endblock %}
            </form>
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <p style="color: green">{{ message }}</p>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p style="color: darkred">{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>