{% extends 'pages/base_site.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
{{ geodata|json_script:"markers-data" }}
<div id="map"></div>
<script src="{% static 'js/map.js' %}"></script>
</body>
</html>
{% endblock content %}
