{% extends 'pages/base_site.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
</head>
<body>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <div id="map">
        {{ geodata|json_script:"markers-data" }}
    <script>
    var sliderControl = null;
    const markers = JSON.parse(document.getElementById("markers-data").textContent);
    var map = L.map("map").setView([50,10], 5);
    var osmBase = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
    });

    var setPopup = function(feature,layer) {
                if(feature.properties.img_url === null){
                    layer.bindPopup('<p><b>Gerät:</b> '+feature.properties.device_name+'</p>' +
                                    '<p><b>Datenbank:</b> '+feature.properties.type+'</p>' +
                                    '<p><b>Uhrzeit:</b> '+feature.properties.date_time+'</p>' +
                                    '<p><b>Koordinaten:</b> '+feature.geometry.coordinates+'</p>');
                }
                else{
                    layer.bindPopup('<p><b>Gerät:</b> '+feature.properties.device_name+'</p>' +
                                    '<p><b>Quelle:</b> '+feature.properties.img_url+'</p>' +
                                    '<p><b>Uhrzeit:</b> '+feature.properties.date_time+'</p>' +
                                    '<p><b>Koordinaten:</b> '+feature.geometry.coordinates+'</p>' +
                                     '<a href=\''+feature.properties.img_url+'\'><img src=\''+ feature.properties.img_url+'\'style=\'width:100%;height:100%;\'></a>',{maxWidth:300});
                }
    }
    var baseLayers = {
        "OSM": osmBase
    }
    var lc = L.control.layers(baseLayers);
    osmBase.addTo(map)
    lc.addTo(map);
    let layergroup = L.featureGroup();
    let device =""
    lc.addOverlay(layergroup,"Test")
    {% for device in devices %}
        device = L.geoJson(markers, {
        filter: function(feature, layer) {
          return (feature.properties.device_name === "{{device.device_name}}");
        },
         pointToLayer: function(feature,latlng) {
          return new L.CircleMarker(latlng, {fillColor:'{{ device.color }}', fillOpacity: 1,
              color: 'black'})
        },
        onEachFeature: setPopup
      },
    );
       layergroup.addLayer(device)
       lc.addOverlay(device, "<b>{{device.device_name}}</b>");
       map.removeLayer(device);
    {% endfor %}

    map.fitBounds(layergroup.getBounds(), { padding: [100, 100] });

    </script>
    </div>
</body>
</html>
{% endblock content %}