<!DOCTYPE html>{% extends 'pages/base_site.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
<div id="map">
    <script>
    var map = L.map('map').setView([53.2464, 10.4115], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
    </script>
        {{ geodata|json_script:"markers-data" }}
        <script>
            const markers = JSON.parse(document.getElementById("markers-data").textContent);
            window.alert(markers)
        </script>
    </div>
</body>
</html>
{% endblock content %}
